/* 
 * Some bits borrowed from
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
  color: #000;
  display: block;
  text-decoration: none;
}
body {
  font-family: "Droid Sans", sans-serif;
  font-size: 18px;
	line-height: 1;
  padding: 10px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
label {
  display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1.logo {
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
header {
  overflow: hidden;
}
header a {
  color: #000;
}
header div {
  margin: 0;
  padding: 0;
}
header div a {
  color: #333;
  font-weight: bold;
}
header div a:hover {
  background: #ddd;
}
input[type=search],
input[type=text],
input[type=url],
textarea {
  display: block;
  width: 100%;
}
input[type=date],
input[type=search],
input[type=text],
input[type=url],
textarea {
  border: 1px solid #bbb;
  font-family: monospace;
  padding: 1px 2px;
}
input[type=checkbox] {
  vertical-align: middle;
}
input[type=submit] {
  background-color: #777;
  border: none;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 10px 0;
  padding: 3px 7px;
}
textarea {
  overflow: auto;
  resize: none;
}
.container {
  padding: 10px;
}
.controls {
  padding: 10px 0;
}
.count {
  display: none;
  font-size: smaller;
  padding: 5px 0 10px;
}
.immutable {
  padding: 10px 0 0 0;
}
.immutable span {
  color: #777;
}
.item {
  background-color: #eee;
  margin: 2px 0 0 0;
  overflow: auto;
  padding: 20px;
  transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
}
.item.not-selected {
  opacity: 0;
}
.item form {
  display: none;
  padding: 20px 0;
}
.form-field {
  padding: 10px 0 0 0;
}
.links {
  float: right;
  font-size: 14px;
}
.search input {
  font-size: 24px;
}
.submit {
  padding: 10px 0 0 0;
}
#results {
  padding: 10px;
}
#raw {
  background: #111;
  color: #eee;
  display: none;
  font-family: monospace;
  padding: 40px 10px 20px;
  white-space: pre-wrap;
  word-break: break-all;
}
#raw-toggle {
  color: #777;
  margin: 40px 0 0 0;
  font-size: smaller;
}
#raw-toggle span:hover {
  cursor: pointer;
  color: #333;
}
#q {
  background: #fff;
}
.rel-add input {
  width: 20%;
}
