<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <link href="static/css/base.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="https://raw.github.com/cowboy/jquery-bbq/v1.2.1/jquery.ba-bbq.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="https://raw.github.com/gsf/whiskers.js/master/dist/whiskers.min.js"></script>
    <script src="static/js/app.js"></script>
  </head>
  <body>
    <header>
      <h1 class="logo"><a href="#dash">ADMIN</a></h1>
      <ul>
        <li><a href="#templates">TEMPLATES</a></li>
        <li><a href="#models">MODELS</a></li>
        <li><a href="#users">USERS</a></li>
      </ul>
    </header>
    <div id="main"></div>
  </body>
</html>
