<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <link href="/static/css/admin.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>
      if (typeof jQuery == 'undefined') {
        document.write(unescape('%3Cscript src="/static/js/jquery-1.6.1.min.js"%3E%3C/script%3E'));
      }
    </script>
    <script src="/static/js/admin.js"></script>
  </head>
  <body>
    <p>admin</p>
  </body>
</html>
