a {
 text-decoration: none;
}
body {
  font-family: sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h1.logo {
  float: left;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
h1.logo a {
  color: #000;
}
header {
  overflow: hidden;
  padding: 0 10px;
}
header div {
  margin: 0;
  padding: 0;
}
header div a {
  color: #333;
  font-weight: bold;
}
header div a:hover {
  background: #ddd;
}
input[type=text], textarea {
  width: 100%;
}
input[type=text], input[type=date], textarea {
  background: #eee;
  border: 1px solid black;
  padding: 0 2px;
}
textarea {
  overflow: auto;
  resize: none;
}
.controls {
  padding: 10px;
}
.count {
  font-size: smaller;
}
#main {
  padding: 10px;
}
.result {
  padding: 10px 0;
}
.label {
  padding: 10px 0 0 0;
}
