a {
 text-decoration: none;
}
body {
  font-family: sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
form.search {
}
form.search input[type=text] {
  width: 300px;
}
h1.logo {
  float: left;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
h1.logo a {
  color: #000;
}
header {
  min-width: 600px;
  overflow: hidden;
  padding: 0 4px;
}
header div {
  margin: 0;
  padding: 0;
}
header div a {
  color: #333;
  font-weight: bold;
}
header div a:hover {
  background: #ddd;
}
.controls {
  float: left;
  padding: 3px 10px;
}
.count {
  font-size: smaller;
}
#main {
  padding: 10px;
}
.result {
  padding: 10px 0;
}
.input input[type=text] {
  width: 100%;
}
.label {
  padding: 10px 0 0 0;
}
.raw {
  width: 100%;
}
