a {
 text-decoration: none;
}
body {
  font-family: sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
form.search {
}
form.search input[type=text] {
  width: 400px;
}
h1.logo {
  float: left;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
h1.logo a {
  color: #000;
}
header {
  height: 36px;
  overflow: auto;
  padding: 0 4px;
}
header div {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
header div a {
  color: #333;
  font-weight: bold;
}
header div a:hover {
  background: #ddd;
}
.count {
  font-size: smaller;
}
#main {
  padding: 10px;
}
